extends layout

block content
  .content
    .content-inner
      span.avatar
      span.name#first Matt
      span.name#last Rogman
      p.description Software Developer | Test Engineer | Heathcare Technology
      div.account-icons
        a(href="https://www.linkedin.com/in/mrogman")
          i(class="fa fa-linkedin-square")
        a(href="https://twitter.com/mrogman")
          i(class="fa fa-twitter-square")
        a(href="https://github.com/mrogman")
          i(class="fa fa-github-square")
        a(href="mailto:mrogman@gmail.com")
          i(class="fa fa-envelope")
      div.developmentNotice Site is currently under development. Please check back again soon!
