$font-dark: #3A3A3A;

body {
  background-color: black;
  font-family: 'Abel', sans-serif;
  color: $font-dark;
  font-size: 16px;
  @media only screen and (max-device-width: 520px) and (orientation: portrait) {
    font-size: 45px;
  }
}

.background {
  position: absolute;
  background-image: url('/images/bg-compressed.jpg');
  background-size: cover;
  background-color: transparent;
  z-index: -1;
  
  @media only screen and (max-device-width: 520px) and (orientation: portrait) {
    background-image: none;
    background-color: gray;
  }
}

html,
body,
.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: center;
}

.content {
  align-self: center;
  background-color: white;
  text-align: center;
  padding: 4em 3em 3em;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.8);
  -moz-box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.8);
  box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.8);

  @media only screen and (max-device-width: 520px) and (orientation: portrait) {
    width: 100vw;
    height: 50vh;
  }

  span.name {
    font-size: 3em;
    padding: 1em 0;

    &#first {
      color: #006086;
    }

    &#last {
      /*font-weight: bold;*/
    }

  }

  p.description {
    font-size: 1.3em;
  }

  div.developmentNotice {
    margin-top: 2em;
    padding: 1em;
    font-size: 1em;
    background-color: #D1DDE4;
    border-radius: 10px;
  }

}

p {
  padding: 0;
  margin: 1em 0;
  font-size: 1em;
}

a {
  color: #00B7FF;
}
